.tasks__item__toggle {
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.85em 2.25em 0.85em 1em;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tasks__item {
  display: flex;
  align-items: top;
  min-width: 350px;
  background-color: rgba(0, 0, 0, 0.05);
  border: #282c34 solid;
  border-radius: 5px;
  margin: 5px;
}

/* .tasks__item__toggle:hover { */
button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.15);
}

.tasks__item__toggle--completed {
  text-decoration: line-through;
  background-color: rgba(0, 128, 0, 0.15);
  border-color: rgba(0, 128, 0, 0.2);
}

.tasks__item__toggle {
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.85em 2.25em 0.85em 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button.tasks__item__remove, button.tasks__item__description  {
  top: 50%;
  right: 0;
  height: 100%;
  font-size: 100%;
  margin: 1px;
  border-radius: 3px;
}

.show-new-task-form {
  width: 52vw;
  min-width: 350px;
  padding: 10px;
}